<mat-card>
  <mat-card-header>
    <a mat-card-avatar class="header-image" [routerLink]="['/']"></a>
  </mat-card-header>
  <mat-card-title>Regístrate</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="formSignup"
      autocomplete="off"
      (ngSubmit)="signup(formSignup.value)"
    >
      <p>
        <mat-form-field appearance="legacy" class="right">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ej. Rafael" formControlName="nombre" required />
          <mat-error *ngIf="formValue('nombre').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('nombre').errors?.pattern"
            >Solo letras</mat-error
          >
          <mat-error
            *ngIf="
              formValue('nombre').errors?.minlength &&
              !formValue('nombre').errors?.pattern
            "
            >Mínimo 3 caráctares</mat-error
          >
          <mat-error
            *ngIf="
              formValue('nombre').errors?.maxlength &&
              !formValue('nombre').errors?.pattern
            "
            >Máximo 20 caráctares</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Ej. Ortega" formControlName="apellido" required />
          <mat-error *ngIf="formValue('apellido').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('apellido').errors?.pattern"
            >Solo letras</mat-error
          >
          <mat-error *ngIf="formValue('apellido').errors?.minlength"
            >Mínimo 3 caráctares</mat-error
          >
          <mat-error *ngIf="formValue('apellido').errors?.maxlength"
            >Máximo 20 caráctares</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="right">
          <mat-label>Cédula</mat-label>
          <input matInput placeholder="Ej. 12345678" formControlName="cedula" required />
          <mat-error *ngIf="formValue('cedula').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('cedula').errors?.singleCedula"
            >Cédula en uso</mat-error
          >
          <mat-error *ngIf="formValue('cedula').errors?.pattern"
            >Solo números y/o sin espacios</mat-error
          >
          <mat-error
            *ngIf="
              formValue('cedula').errors?.minlength &&
              !formValue('cedula').errors?.pattern
            "
            >Mínimo 8 caráctares</mat-error
          >
          <mat-error
            *ngIf="
              formValue('cedula').errors?.maxlength &&
              !formValue('cedula').errors?.pattern
            "
          >
            Máximo 15 dígitos
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Fecha Nacimiento</mat-label>
          <input
            matInput
            placeholder="Ej. 6/4/2002"
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            formControlName="fechaNacimiento"
            required
          />
          <mat-error *ngIf="formValue('fechaNacimiento').errors?.required"
            >Requerido</mat-error
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="right">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            placeholder="Ej. rafael@ejemplo.com"
            formControlName="correo"
            required
          />
          <mat-error *ngIf="formValue('correo').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('correo').errors?.singleMail"
            >Correo en uso</mat-error
          >
          <mat-error *ngIf="formValue('correo').errors?.mailValidation">
            {{ formValue("correo").errors?.mailValidation.message }}
          </mat-error>
          <mat-error
            *ngIf="
              formValue('correo').errors?.pattern &&
              !formValue('correo').errors?.mailValidation
            "
            >Correo no válido</mat-error
          >
          <mat-error
            *ngIf="
              formValue('correo').errors?.minlength &&
              !formValue('correo').errors?.pattern
            "
            >Mínimo 11 caráctares</mat-error
          >
          <mat-error *ngIf="formValue('correo').errors?.maxlength"
            >Máximo 50 caráctares</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Repetir Correo electrónico</mat-label>
          <input
            matInput
            placeholder="Ej. rafael@ejemplo.com"
            formControlName="repetirCorreo"
            required
          />
          <mat-error *ngIf="formValue('repetirCorreo').errors?.required"
            >Requerido</mat-error
          >
          <mat-error
            *ngIf="formValue('repetirCorreo').errors?.repeatMailValidation"
            >No coincide</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="right">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            placeholder="*********"
            formControlName="contrasena"
            required
          />
          <mat-error *ngIf="formValue('contrasena').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('contrasena').errors?.passwordValidation">
            {{ formValue("contrasena").errors?.passwordValidation.message }}
          </mat-error>
          <mat-error
            *ngIf="
              formValue('contrasena').errors?.minlength &&
              !formValue('contrasena').errors?.passwordValidation
            "
            >Mínimo 8 caráctares</mat-error
          >
          <mat-error
            *ngIf="
              formValue('contrasena').errors?.maxlength &&
              !formValue('contrasena').errors?.passwordValidation
            "
            >Máximo 30 caráctares</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Repetir Contraseña</mat-label>
          <input
            matInput
            type="password"
            placeholder="*********"
            formControlName="repetirContrasena"
            required
          />
          <mat-error *ngIf="formValue('repetirContrasena').errors?.required"
            >Requerido</mat-error
          >
          <mat-error
            *ngIf="
              formValue('repetirContrasena').errors?.repeatPasswordValidation
            "
          >
            No coinciden
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="right">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Ej. Rafa08" formControlName="usuario" required />
          <mat-error *ngIf="formValue('usuario').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('usuario').errors?.pattern"
            >Carácter no válido</mat-error
          >
          <mat-error *ngIf="formValue('usuario').errors?.singleUser"
            >Usuario en uso</mat-error
          >
          <mat-error
            *ngIf="
              formValue('usuario').errors?.minlength &&
              !formValue('usuario').errors?.pattern
            "
            >Mínimo 3 caráctares</mat-error
          >
          <mat-error
            *ngIf="
              formValue('usuario').errors?.maxlength &&
              !formValue('usuario').errors?.pattern
            "
            >Máximo 20 caráctares</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            placeholder="Ej. 3216548709"
            formControlName="telefono"
            required
          />
          <mat-error *ngIf="formValue('telefono').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('telefono').errors?.singlePhone"
            >Teléfono en uso</mat-error
          >
          <mat-error *ngIf="formValue('telefono').errors?.pattern"
            >Solo números y/o sin espacios</mat-error
          >
          <mat-error
            *ngIf="
              formValue('telefono').errors?.minlength &&
              !formValue('telefono').errors?.pattern
            "
          >
            Mínimo 10 dígitos
          </mat-error>
          <mat-error
            *ngIf="
              formValue('telefono').errors?.maxlength &&
              !formValue('telefono').errors?.pattern
            "
          >
            Máximo 10 dígitos
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <a mat-button color="primary" routerLink="/ingresar"
          >¿Ya tienes cuenta? - inicia sesión</a
        >
      </p>
      <div>
        <button mat-raised-button color="primary">
          Registrarse
          <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
