<mat-card>
  <mat-card-header>
    <a mat-card-avatar class="header-image" [routerLink]="['/']"></a>
  </mat-card-header>
  <mat-card-title>Restablecer Contraseña</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="formRecover"
      autocomplete="off"
      (ngSubmit)="recover(formRecover.value)"
    >
      <div *ngIf="!send; else sendView">
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              placeholder="*********"
              (paste)="(false)"
              formControlName="contrasena"
              required
            />
            <mat-error *ngIf="formValue('contrasena').errors?.required"
            >Requerido</mat-error
          >
          <mat-error *ngIf="formValue('contrasena').errors?.passwordValidation">
            {{ formValue("contrasena").errors?.passwordValidation.message }}
          </mat-error>
          <mat-error
            *ngIf="
              formValue('contrasena').errors?.minlength &&
              !formValue('contrasena').errors?.passwordValidation
            "
            >Mínimo 8 caráctares</mat-error
          >
          <mat-error
            *ngIf="
              formValue('contrasena').errors?.maxlength &&
              !formValue('contrasena').errors?.passwordValidation
            "
            >Máximo 30 caráctares</mat-error
          >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Repetir Contraseña</mat-label>
            <input
              matInput
              type="password"
              placeholder="*********"
              (paste)="(false)"
              formControlName="repetirContrasena"
              required
            />
            <mat-error *ngIf="formValue('repetirContrasena').errors?.required"
            >Requerido</mat-error
          >
          <mat-error
            *ngIf="
              formValue('repetirContrasena').errors?.repeatPasswordValidation
            "
          >
            No coinciden
          </mat-error>
          </mat-form-field>
        </p>
        <div>
          <button mat-raised-button color="primary">Restablecer
            <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
          </button>
        </div>
      </div>
      <ng-template #sendView>
        <p class="pc">
          <mat-icon>check</mat-icon>
          Se ha restablecido correctamente su contraseña, ahora puedes iniciar sesión.
        </p>
        <div>
          <button mat-raised-button color="primary" routerLink="/ingresar">
            Regresar
          </button>
        </div>
      </ng-template>
    </form>
  </mat-card-content>
</mat-card>
