div button.boton {
  margin: 1% 1% 0 1%;
  text-align: left;
  width: 98%;
  min-width: 530px;
}
mat-form-field {
  margin: 0.3% 1% 0 1%;
  width: 98%;
  min-width: 530px;
}
table {
  width: 100%;
  min-width: 530px;
  & th {
    color: #3f51b5;
    font-size: 14px;
  }
  & td {
    font-size: 13.2px;
  }
}
mat-paginator {
  color: #3f51b5;
}
#div {
  margin: 1%;
  margin-top: 0%;
  min-width: 530px;
}
.icon {
  margin-right: 4px;
}